@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pane {
  height: 50vh;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.top-pane {
  display: flex;
  background-color: rgba(0, 0, 0, 0.85);
}

.editor-container {
  flex-basis: 0;
  flex-grow: 1;
  background-color: #c5c5c5;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.7rem;
}

.editor-container .editor-title {
  display: flex;
  padding: 0.5rem 0.5rem 0 0.5rem;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: "Baloo Tammudu 2", cursive, sans-serif;
  font-size: 0.8rem;
}

.editor-icon {
  width: 25px;
  height: 20px;
  padding-right: 5px;
}

.editor-title-lang {
  display: flex;
  margin-right: 10px;
}

.CodeMirror {
  height: 100% !important;
}

.code-mirror-wrapper {
  flex-grow: 1;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  overflow: hidden;
}

iframe {
  border: 1px solid black;
}

.editor-container.collapsed {
  flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
  position: absolute;
  overflow: hidden !important;
}

.btn {
  padding: 0;
  margin-top: -5px;
  margin-right: 10px;
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
  font-size: 0.8rem;
  transition: font-size 0.15s;
}

.btn:hover {
  font-size: 1.1rem;
}

.footer {
  position: fixed;
  right: -230px;
  z-index: 1;
  background-color: beige;
  padding: 0.5rem;
  font-size: 0.85rem;
  font-family: "Baloo Tammudu 2", cursive, sans-serif;
  word-spacing: 3px;
  border-radius: 5px;
  transition: right 0.5s;
}

.footer:hover {
  right: 0;
}

.footer-content a {
  text-decoration: none;
  letter-spacing: 0.5px;
}
